<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="todayMaker" content="오늘 할일을 관리하는 사이트">
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/custom.css}" href="../../static/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>To Do</title>
</head>


<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="active" href="#"><i class="fa fa-home fa-inverse"></i></a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
<!--                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>-->
<!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2"
                        th:onclick="|location.href='@{/login}'|" onclick="location.href='login.html'">Login</button>
                <button type="button" class="btn btn-warning"
                        th:onclick="|location.href='@{/join}'|">Sign-up</button>
            </div>
        </div>
    </div>
</header>