.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/*카테고리 토글 https://getbootstrap.com/docs/5.0/examples/sidebars*/
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    /*color: rgba(0, 0, 0, .65);*/
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #dedede;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    /*padding: .1875rem .5rem;*/
    /*margin-top: .125rem;*/
    /*margin-left: 1.25rem;*/
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #f34051; /*#dedede;*/
    border-color: #f34051;
}
/* 추가 */
.i {
    float: right;
    color: #c0c0c0; /*#a3a3a3;*/
    margin-top:12px;
    margin-right: 5px;
    cursor: pointer;
}
.star:hover{
    cursor: pointer;
}
.star-on {
    color: #e1b500;
}
.cate-del, .cate-edit {
    color: #c0c0c0;
    float: right;
    margin-left: 10px;
}
.cate-del {
    margin-left: 5px;
}
/* drag and drop */
[draggable=true] {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
ul.moveable {
    list-style: none;
    margin: 0px;
}
ul.moveable li,
ul.moveable div{
    list-style-image: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px 10px 4px;
    border-radius: 4px;
    color: #666;
    cursor: move;
}
ul.moveable li:hover,
ul.moveable div:hover{
    background-color: #eee;
}

input[type=checkbox] {
    accent-color: #5D9C59;
}

.p1{
    color: #e91c1c;
    float:right;
    margin-top:10px;
    margin-right: 10px;
}
.pa1{
    padding: 8px 5px;
    cursor: default;
    border-radius: 30%;
    margin-right: auto;
    background-color: #de1b1b;
    border-color: #de1b1b;
    color: white;
}
.pa2{
    padding: 8px 5px;
    cursor: default;
    border-radius: 30%;
    margin-right: auto;
    background-color: #be626b;
    border-color: #be626b;
    color: white;
}
.pa3{
    padding: 8px 5px;
    cursor: default;
    border-radius: 30%;
    margin-right: auto;
    background-color: #b28185;
    border-color: #b28185;
    color: white;
}
label {
    padding-left: 3px;
    padding-right: 3px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
.sub-todo{
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}
.sub-cate{
    margin-left: 1rem;
}
.v-center{
    display:flex;
    align-items:center;
}
.sub{
    align-items:center;
}
.part{
    font-weight: bold;
    color: #9b9b9b;
}
#noCateZone ul{
    margin-left: 1.75rem;
    margin-bottom: 0.25rem;
}
/*우선순위 지정 드롭다운*/
#today-each{
    align-items:center;
}
#today-each label{
    /*margin-right: auto;  !*오른쪽 여백 최대*!*/
}
#pri-btn-div{
    display: inline-block;
    margin: 0 auto 0 10px;
    padding: 0;
    font-size: 0.5rem;
    border: none;
}
#pri-div {
    margin: 0px 5px 0px 0px;
    padding: 0;
    border: none;
}
#dropdownMenu {
    padding: 0rem 0.1rem;
    margin: 0;
    background-color: white;
    color : #c0c0c0;
    border: none;
}
#pri-div ul {
    min-width: 1.75rem;
    width: 1.75rem;
}
.dropdown-item {
    width: 1.7rem;
    padding: 0.25rem 10px;
    text-align: center;
    color: indianred;
}
#todayList .i {
    margin-top: 0px;
}
#add {
    min-width: 60px;
}
@media screen and (max-width: 1000px) {  /*1000px 이하시*/
    #add {
        padding: 0.375rem 0.5rem;
        min-width: 50px;
    }
}
