.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/*카테고리 토글 https://getbootstrap.com/docs/5.0/examples/sidebars*/
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #dedede;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    /*padding: .1875rem .5rem;*/
    /*margin-top: .125rem;*/
    /*margin-left: 1.25rem;*/
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #dedede;
}
/* 추가 */
.i {
    float: right;
    color: #a3a3a3;
    margin-top:12px;
    margin-right: 5px;
}
.star:hover{
    cursor: default;
}
.star-on {
    color: #e1b500;
}
.cate-del {
    color: #c0c0c0;
    margin-left: 5px;
}
/* drag and drop */
[draggable=true] {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
ul.moveable {
    list-style: none;
    margin: 0px;
}
ul.moveable li,
ul.moveable div{
    list-style-image: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px 10px 4px;
    border-radius: 4px;
    color: #666;
    cursor: move;
}
ul.moveable li:hover,
ul.moveable div:hover{
    background-color: #eee;
}

input[type=checkbox] {
    accent-color: #5D9C59;
}

.p1{
    color: #e91c1c;
    float:right;
    margin-top:10px;
    margin-right: 10px;
}
.pa1{
    padding: 8px 5px;
    cursor: default;
    border-radius: 30%;
}
.edit {
    margin-right: 10px;
}
label {
    padding-left: 3px;
    padding-right: 3px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}