<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <hr class="my-4">

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Today Maker</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">make today better. design and customize your day.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
                <button type="button" class="btn btn-primary btn-lg px-3"
                        onclick="location.href='/todo'">쌤플 유저로 사용해보기</button>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
<!--                <img src="../static/images/temp.jpg" th:src="@{/images/temp.jpg}"-->
<!--                     class="img-fluid border rounded-3 shadow-lg mb-4" alt="예시 스크린샷 이미지" width="700" height="500" loading="lazy">-->
            </div>
        </div>
    </div>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
<!--        <h5>바로 체험하기</h5>-->
    </div>
</div> <!-- /container -->
</body>

</html>