<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>To do(Local)</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<script th:inline="javascript">
    let getSubCategories = {};
    /*[# th:each="cate : ${categories}"]*/
        var key = /*[[${cate.id}]]*/;
        getSubCategories[key] = false;
    /*[/]*/
</script>
<!--/*-->
<script type="text/javascript">
    $(document).ready(function(){
         $("#header").load("../fragments/header.html");
        // $("#today input[type='checkbox'][value=3]").parent().css('background-color', 'blue');
    });
</script><!--*/-->
<body>
<header id="header">
</header>
<div class="container">
    <div class="row">
        <div class="col-5" id="todoArea">
            <hr class="my-4">
            <ul class="list-unstyled ps-0" th:each="category : ${categories}">
                <li th:if="${category.parent == null}">
    <!--            버튼태그 타겟 data-bs-target="하위 div ID" -->
                    <button th:field="${category.id}"  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            th:attr="data-bs-target='#cate-collapse'+${category.id}" th:text="${category.name}"
                            th:onclick="showSubCategories(this)" th:value="${category.id}" aria-expanded="false">
                            상위카테고리
                    </button>
                    <i class="fa-regular fa-trash-can fa-sm cate-del"></i>
                    <div class="collapse" th:id="'cate-collapse'+${category.id}" >
                    </div>
                    <!--/*-->
                    <div class="collapse show" th:id="'cate-collapse'+${category.id}" >
                        <button class="btn btn-toggle align-items-center rounded collapsed ms-4" data-bs-toggle="collapse" data-bs-target="#sub-cate">
                            하위카테고리
                        </button>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-1 ms-4">
                            <input type="checkbox" id="todo1" name="todo1" value="1">
                            <label for="todo1"> 할일1</label>
                            <i class="fa-regular fa-trash-can fa-sm i del"></i>
                            <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                        </ul>
                    </div>
                    <!--*/-->
                </li>
            </ul>
            <hr class="my-4">
            <ul class="list-unstyled ps-0" th:each="todo : ${todos}" id="cateNoTodo">
                <li th:if="${todo.category == null}">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-1 ms-4">
                        <input type="checkbox" th:id="${todo.id}" th:value="${todo.id}"  >
                        <label th:for="${todo.id}" th:text="${todo.name}"> 카테고리 없는 할일</label>
                        <i class="fa-regular fa-trash-can fa-sm i del"></i>
                        <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                    </ul>
                </li>
            </ul>
            <button type="button" class="btn btn-primary px-3" onclick="location.href='/category'">카테고리 추가</button>
            <button type="button" class="btn btn-primary px-3" onclick="location.href='/todo'">할일 추가</button>
        </div>
        <div class="col">
            <hr class="my-4">
            <button type="button" id="add" class="btn btn-info">추가</button>
        </div>
        <div class="col-6">
            <hr class="my-4">
            <span th:text="${#temporals.format(date, 'yyyy년 M월 d일')}">날짜</span>
            <span th:text="${#temporals.dayOfWeekNameShort(date)}"></span>
            <div id="today">
                <ul id="todayList" class="btn-toggle-nav list-unstyled fw-normal moveable" >
                    <div th:each="tdTodo : ${todayTodos}" >
                        <input type="checkbox" th:id="'todayTodo' + ${tdTodo.id}" th:value="${tdTodo.id}">
                        <label th:for="todayTodo+${tdTodo.id}" th:text="${tdTodo.name}">할일</label>
                        <i class="fa-regular fa-square-minus fa-sm i today-minus"></i>
                        <i class="fa-regular fa-star fa-sm i star"></i>
                    </div>
                    <!--/*-->
                    <div draggable="true" style="border: 1px solid rgb(240, 165, 145);">
                        <input type="checkbox" id="todayTodo3" value="3">
                        <label for="todayTodo3">오늘 할일1</label>
                        <i class="fa-regular fa-square-minus fa-sm i today-minus"></i>
                        <i class="fa-regular fa-star fa-sm i star"></i>
                        <a class="btn btn-danger pa1">
                            <i class="fa-solid fa-1 fa-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!--*/-->
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="text">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/custom.js}" src="../../static/js/custom.js"></script>
</body>
</html>