<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>To do(Local)</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<script th:inline="javascript">
    let getSubCategories = {};
    let todaysImp = /*[[${todays}]]*/;
    /*[# th:each="cate : ${categories}"]*/
        var key = /*[[${cate.id}]]*/;
        getSubCategories[key] = false;
    /*[/]*/
    console.log(todaysImp);
</script>
<!--/*-->
<script type="text/javascript">
    $(document).ready(function(){
        $("#header").load("../fragments/header.html");
        $(document).on("click", ".sub-cate", function() {
            let subCateId = $(this).attr('data-bs-target').substring(9);
        });
    });
</script><!--*/-->
<body>
<header id="header">
</header>
<div class="container">
    <div class="row">
        <div class="col-5" id="cateTodoArea">
            <hr class="my-4">
            <ul class="list-unstyled ps-0" th:each="category : ${categories}">
                <li th:if="${category.parent == null}">
    <!--            버튼태그 타겟 data-bs-target="하위 div ID" -->
                    <div class="v-center cate">
                        <button th:field="${category.id}"  class="btn btn-toggle collapsed" data-bs-toggle="collapse"
                                th:attr="data-bs-target='#cate'+${category.id}" th:text="${category.name}"
                                th:onclick="showSubCategories(this)" th:value="${category.id}" aria-expanded="false">
                                상위카테고리
                        </button>
                        <i class="fa-regular fa-pen-to-square fa-sm cate-edit"></i>
                        <i class="fa-regular fa-trash-can fa-sm cate-del"></i>
                    </div>
                    <div class="collapse" th:id="'cate'+${category.id}" >
                    </div>
                    <!--/*-->
                    <div class="collapse show" id="cate1" >
                        <div class="v-center cate">
                            <button class="btn btn-toggle collapsed sub-cate" data-bs-toggle="collapse" data-bs-target="#sub-cate1">
                                하위카테고리
                            </button>
                            <i class="fa-regular fa-pen-to-square fa-sm cate-edit"></i>
                            <i class="fa-regular fa-trash-can fa-sm cate-del"></i>
                        </div>
                        <div class="collapse show" id="sub-cate2">
                            <ul class="list-unstyled sub-todo">
                                <input type="checkbox" id="todo53" value="53">
                                <label for="todo53">하위카테고리의 할일</label>
                                <i class="fa-regular fa-trash-can fa-sm i del"></i>
                                <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                            </ul>
                        </div>
                        <ul class="list-unstyled ps-1 ms-4 mb-1 todo">
                            <input type="checkbox" id="todo1" name="todo1" value="1">
                            <label for="todo1">노렌더링 할일1</label>
                            <i class="fa-regular fa-trash-can fa-sm i del"></i>
                            <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                        </ul>
                    </div>
                    <!--*/-->
                </li>
            </ul>
            <div id="noCateZone">
                <h6 class="part">No Category</h6>
                <ul class="list-unstyled todo" th:each="todo : ${noCateTodos}">
                    <input type="checkbox" th:id="${todo.id}" th:value="${todo.id}"  >
                    <label th:for="${todo.id}" th:text="${todo.name}">카테고리 없는 할일</label>
                    <i class="fa-regular fa-trash-can fa-sm i del"></i>
                    <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                </ul>
                <!--/*-->
                <ul class="list-unstyled">
                    <input type="checkbox" id="68" value="68">
                    <label for="68">카테고리 없는 할일2</label>
                    <i class="fa-regular fa-trash-can fa-sm i del"></i>
                    <i class="fa-regular fa-pen-to-square fa-sm i edit"></i>
                </ul>
                <!--*/-->
            </div>
            <button type="button" class="btn btn-primary px-3 my-3" onclick="location.href='/category'">카테고리 추가</button>
            <button type="button" class="btn btn-primary px-3 my-3" onclick="location.href='/todo'">할일 추가</button>
            <div id="info" style="display: none">수정 완료!</div>
        </div>
        <div class="col">
            <hr class="my-4">
            <button type="button" id="add" class="btn btn-info">추가</button>
        </div>
        <div class="col-6">
            <hr class="my-4">
            <span th:text="${#temporals.format(date, 'yyyy년 M월 d일')}">날짜</span>
            <span th:text="${#temporals.dayOfWeekNameShort(date)}"></span>
            <div id="today">
                <ul id="todayList" class="btn-toggle-nav list-unstyled moveable" >
                    <div id="today-each" class="d-flex" th:each="row : ${todayTodos}" >
                        <input type="hidden" th:value="${row.id}"/>
                        <input type="checkbox" th:id="'todayTodo'+${row.todoId}" th:value="${row.todoId}">
                        <label th:for="todayTodo+${row.todoId}" th:text="${row.name}">할일</label>
                        <div id="pri-btn-div">
                            <a class="btn btn-danger pa1" th:if="${row.priority == 1}">
                                <i class="fa-solid fa-1 fa-xs" aria-hidden="true"></i>
                            </a>
                            <a class="btn pa2" th:if="${row.priority == 2}">
                                <i class="fa-solid fa-2 fa-xs" aria-hidden="true"></i>
                            </a>
                            <a class="btn pa3" th:if="${row.priority == 3}">
                                <i class="fa-solid fa-3 fa-xs" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="dropdown" id="pri-div">
                            <button class="btn btn-secondary " type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bars fa-sm"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <a class="dropdown-item" href="#">1</a>
                                <a class="dropdown-item" href="#">2</a>
                                <a class="dropdown-item" href="#">3</a>
                            </ul>
                        </div>
                            <i class="fa-solid fa-star fa-sm i star star-on" th:if="${row.important == true}"></i>
                            <i class="fa-regular fa-star fa-sm i star" th:if="${row.important == false}"></i>
                            <i class="fa-regular fa-square-minus fa-sm i today-minus"></i>
                    </div>
                    <!--/*-->
                    <!--*/-->
                </ul>
            </div>
        </div>
    </div>

</div>
<div id="text">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/custom.js}" src="../../static/js/custom.js"></script>
</body>
</html>