<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <title>로컬 타이틀</title>
</head>
<script type="text/javascript">
</script>

<body>
<div class="container">
    <div class="row">
        <div class="col-5" id="todoArea">
            <hr class="my-4">
            <ul class="list-unstyled ps-0" th:each="category : ${categories}">
                <li th:if="${category.parent == null}" class="mb-1">
    <!--            버튼태그 타겟 data-bs-target="하위 div ID" -->
                    <button th:field="${category.id}"  class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            th:attr="data-bs-target='#cate-collapse'+${category.id}" th:text="${category.name}"
                            th:onclick="'showSubCategories('+${category.id}+')'" aria-expanded="true">
                            상위카테고리
                    </button>
                    <div class="collapse" th:id="'cate-collapse'+${category.id}" >
                    </div>
                    <!--/*-->
                    <div class="collapse show" th:id="'cate-collapse'+${category.id}" >
                        <button class="btn btn-toggle align-items-center rounded collapsed ms-4" data-bs-toggle="collapse" data-bs-target="#sub-cate">
                            하위카테고리
                        </button>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-1 ms-4"><input type="checkbox" id="todo1" name="todo1" value="1">
                            <label for="todo1"> 할일1</label>
                        </ul>
                    </div>
                    <!--*/-->
                </li>
            </ul>
            <button type="button" class="btn btn-primary px-3" onclick="location.href='/category'">카테고리 추가</button>
            <button type="button" class="btn btn-primary px-3" onclick="location.href='/todo'">할일 추가</button>
        </div>
        <div class="col">
            <hr class="my-4">
            <button type="button" id="add" class="btn btn-info">추가</button>
        </div>
        <div class="col-6">
            <hr class="my-4">
            <span th:text="${#temporals.format(date, 'yyyy년 M월 d일')}">날짜</span>
            <span th:text="${#temporals.dayOfWeekNameShort(date)}"></span>
            <div id="today">
                <ul id="todayList" class="btn-toggle-nav list-unstyled fw-normal moveable" >
                    <div th:each="todo : ${todayTodos}">
                        <input type="checkbox" th:id="'todayTodo' + ${todo.id}" th:value="${todo.id}">
                        <label th:for="todayTodb+${todo.id}" th:text="${todo.name}"> </label>
                        <i class="fa-regular fa-square-minus fa-sm today-minus"></i>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="text">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>